<section ng-show = "user.admin">
    <header>
        <h1 class="h3">Usuários</h1>
    </header>
    <ol class="list-group" ng-init="loadUsers()">
        <li class="list-group-item clearfix" ng-repeat="user in userss | filter: {admin: false}  | orderBy: 'email'">
            <h3 class="pull-right"><small class="text-uppercase">Cadastrado em </small>{{ user.created_at | date }}</h3>
            <h2 class="h3">
                {{ user.email}}
            </h2>
        </li>
    </ol>
</section>











